<%= form_for(@qualificacao) do |f| %>
  <% if @qualificacao.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" data-dismiss="alert" aria-hidden="true">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h2><%= pluralize(@qualificacao.errors.count, "erros") %> foram encontrados:</h2>

      <ul>
      <% @qualificacao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <%= f.label :cliente_id %><br>
  <%= f.collection_select(:cliente_id, Cliente.order(:nome), :id, :nome, {:prompt=>true}, {:class=>"form-control"})%>
  </div>
  <div class="input-group">
    <%= f.label :restaurante_id %><br>
  <%= f.collection_select(:restaurante_id, Restaurante.order(:nome), :id, :nome, {:prompt=>true}, {:class=>"form-control"})%>
  </div>
  <div class="input-group">
    <%= f.label :nota %><br>
    <%= f.text_field :nota, class: "form-control" %>
  </div>
  <div class="input-group">
    <%= f.label :valor_gasto %><br>
    <%= f.text_field :valor_gasto, class: "money form-control" %>
  </div>
  <div class="actions">
    <%= f.button submit: "" , class: "btn btn-md btn-success" %>
  </div>
<% end %>
